{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'convert/styles.css' %}">
    <link rel="stylesheet" href="{% static 'convert/header.css' %}">
    <link rel="stylesheet" href="{% static 'convert/body.css' %}">
    <script src="{% static 'convert/script.js' %}" defer></script>
    <title>Welcome</title>
</head>
<body>

    <header class="header">
        <div class="header__top">
            <ul>
                <li><a class=''></a></li>
            </ul>
        </div>
        <div class="header__bottom">

        </div>
    </header>


    <form onsubmit="return false;">
        {% csrf_token %}

        <div class="container">
            <div class="currency-box">
                <input class="from_value" name="from_value">
                <select class="from" name="from" id="from">
                    <option value="USD">United States</option>
                    <option value="INR">India</option>
                </select>
            </div>

            <div class="currency-box">
                <input class="to_value" name="to_value">
                <select class="to" name="to" id="to">
                    <option value="USD">United States</option>
                    <option value="INR">India</option>
                </select>
            </div>
        </div>
    

    </form>
    
</body>
</html>
