*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;

    border: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 200px;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;

    padding: 40px 40px 120px 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(227, 227, 227)
}


.currency-card{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;

}

.from_box,
.to_box{
    display: flex;
    flex: 1;
    width: 430px;
    min-width: 300px;

    height: 70px;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 10px;

    overflow: hidden;
}

.from_box:hover,
.to_box:hover{
    box-shadow: 0 0 2px #0055ff;
    border-color: #6494f4;
}

.from_box:focus-within,
.to_box:focus-within{
    box-shadow: 0 0 2px #0055ff;
    border-color: #6494f4;
}

.from_value,
.to_value{
    flex: 1;

    padding-left: 10px;

    color: rgb(47, 47, 47);
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

input:focus{
    outline: none;
}

select{
    width: 80px;
    text-align: center;

    font-size: 18px;
}

.currency-card__footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    
}



.rate,
.time{
    color: rgb(47, 47, 47);
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.time{
    color: grey;
    font-size: 16px;
    font-weight: 400;

}