body{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 32px 64px 128px 64px;
    max-width: 1000px;

    border-radius: 12px;
    border-width: 1px;
    border-style: solid;

}

.currency-box{
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 476px;
    min-width: 196px;
    height: 92px;

    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color: rgb(207, 207, 207);
    

}

.currency-box:hover { border-color: #0550ae; }
.currency-box:focus-within { border-color: #0550ae; box-shadow: glow; }



input{
    flex: 1;
    height: 32px; 
    font-size: 24px;
    font-weight: 500;  
    border: none;
    padding-left: 16px;

}

input:focus {
    outline: none;
}

select{
    width: 100px;
    height: 34px; 
    border: none;
    font-size: 20px;    

}


select:focus{
    outline: none;
}